// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
	display: none;
}

.twitter_timeline_container {
	margin-top: 60px;
	text-align: center;
	display: none;
}